<div id="Tasks" *ngIf="selectedItem === 'Tasks'">
  <ul class="TasksList">
    <kendo-grid id="my-grid" [kendoGridBinding]="tasks" [data]="tasks" [sortable]="true" [rowClass]="rowCallback"
                [sort]="sort">
      <ng-template kendoGridToolbarTemplate>
        <kendo-textbox [style.width.px]="165"
                       placeholder="Search in all columns..."
                       (valueChange)="onFilter($event)"></kendo-textbox>
        <kendo-grid-spacer></kendo-grid-spacer>
        <button kendoButton [svgIcon]="addSVG" (click)="add()">Add</button>
      </ng-template>
      <kendo-grid-column field="isComplete" title="Status">
        <ng-template kendoGridCellTemplate let-dataItem>
          <kendo-checkbox #checkedState [checkedState]="dataItem.isComplete" (click)="onChange($event, dataItem)"></kendo-checkbox>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="id" title="ID"> </kendo-grid-column>
      <kendo-grid-column field="name" title="Name"> </kendo-grid-column>
      <kendo-grid-column field="description" title="Description"></kendo-grid-column>
      <kendo-grid-column field="action" title="Action">
        <ng-template kendoGridCellTemplate let-dataItem>
          <button kendoButton [svgIcon]="editSVG" (click)="edit(dataItem)">Edit</button>
          <button kendoButton [svgIcon]="deleteSVG" (click)="delete(dataItem)">Delete</button>
        </ng-template>
      </kendo-grid-column>
    </kendo-grid>
  </ul>
</div>

<kendo-dialog title="Add New Task"
              *ngIf="taskDialogOpened"
              (close)="saveTaskDialog('dialog','','')"
              [minWidth]="250"
              [width]="450">
  <kendo-label text="Task name">
    <kendo-textbox id="name" [(ngModel)]="name" placeholder="Do chores"></kendo-textbox>
  </kendo-label>
  <kendo-label text="Description">
    <kendo-textbox id="description" [(ngModel)]="description" placeholder="Wash dishes"></kendo-textbox>
  </kendo-label>
  <kendo-dialog-actions>
    <button kendoButton (click)="saveTaskDialog('cancel', name, description)">Cancel</button>
    <button kendoButton (click)="saveTaskDialog('save', name, description)" themeColor="primary">
      Save
    </button>
  </kendo-dialog-actions>
</kendo-dialog>

<kendo-dialog title="Delete Task"
              *ngIf="deleteDialogOpened"
              (close)="deleteTaskDialog('dialog')"
              [minWidth]="250"
              [width]="450">
  <p style="margin: 30px; text-align: center;">
    Are you sure you want to delete this task?
  </p>
  <kendo-dialog-actions>
    <button kendoButton (click)="deleteTaskDialog('no')">No</button>
    <button kendoButton (click)="deleteTaskDialog('yes')" themeColor="primary">
      Yes
    </button>
  </kendo-dialog-actions>
</kendo-dialog>

<div id="Notifications" *ngIf="selectedItem === 'Notifications'">
  <ul>
    <li>Monday meeting</li>
    <li>Regarding org chart changes</li>
    <li>Meeting with Cliff</li>
    <li>Global Marketing Meeting</li>
    <li>Out tonight with collegues?</li>
  </ul>
</div>
<div id="Calendar" *ngIf="selectedItem === 'Calendar'">
  <ul>
    <li>
      <h6>11/5 Monday</h6>
      <p>Martha Birthday</p>
    </li>
    <li>
      <h6>15/6 Sunday</h6>
      <p>Job interview for internal position</p>
    </li>
  </ul>
</div>
<div id="Attachments" *ngIf="selectedItem === 'Attachments'">
  <ul>
    <li>Build enterprise apps</li>
    <li>Fw: Regarding Multiline textbox</li>
    <li>Away next week</li>
    <li>Fw: Your Costume is ready</li>
    <li>Update completed</li>
  </ul>
</div>
<div id="Favourites" *ngIf="selectedItem === 'Favourites'">
  <ul>
    <li>70% Discount!</li>
    <li>90% Discount!</li>
    <li>One time offer!</li>
  </ul>
</div>
